body{
    
    /*background: url('../img/fondo.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
*/

background: #000428;
background: -moz-linear-gradient(to right, #004e92, #000428);
background: linear-gradient(to right, #004e92, #000428);
  }

/*Inicio*/
#banner-area{
  background: rgba(0, 0, 0, 0.4);
}

#banner-text{
width: 100%;
min-width: 100%;
padding: 200px 0;
text-align: center;
color: #ffffff;
}

#banner-text h1{
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    border-bottom: 2px solid white; 
    display: inline-block;
    text-align: center;
    padding: 15px 30px;
}

#banner-text h3{
    font-size: 45px;
    font-weight: bold;
    margin: 10px 0;
}


#banner-text h1 span{
    color: #f3be00;
}

.image{
    border-radius: 50px;
}


h2{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 8px 12px black;
  color: #f1f1f1;
  font-size: 50px;
}
/*-------------------------------------------*/
/*Servicios*/
.single-service{
  background: #222222;
  padding: 60px;
  width: 280px;
  margin-left: 15px; 
  transition: all 0.9s ease 0s;
}

.single-service i{
  color: tomato;
  font-size: 80px;
  padding-bottom: 20px; 
}
.single-service h3 {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
hr{
  background: white;
}
.single-service p{
  display: none;
  color: white;
  transition: all 0.9s ease 0s;
  font-weight: 700;
}

.single-service:hover p{
  display: block;
}
.single-service:hover i{
  font-size: 128px;
  transition: 0.9s;
  color: white;
}
.single-service:hover{
  background:  tomato;
}

/*Responsig CSS*/

/*Tablet*/
@media only screen and (min-width:768px) and (max-width:991px){
.single-service{
  margin-bottom: 20px;
}
}


@media only screen and (max-width:767px){

  h2{
    font-size: 25px;
  }

  .single-service{
    margin-bottom: 20px;
    padding: 40px;
  }
  .single-service:hover i{
    font-size: 100px;
  }
  
}

@media only screen and (max-width:640px){

  

  .single-service{
    margin-right: 20px;

  }
  
}
/*-------------------------------------------*/

/*contacto*/
.body-card  li{
  color:tomato;
}

#map {
	height: 500px;
	width: 100%;
}
/*-------------------------------------------*/

.footer {
  color: #fff;
  background: #222222;
  width: 100%;
}

.color{
  background: #222222;
  color: #fff;
}

    
